<?xml version="1.0"?>
<launch>

    <param name="/art/visual_inspection/topic" value="/art/n1/kinect2/qhd/image_color"/>
    <param name="/art/visual_inspection/origin" value="0.3,0.3"/>
    <param name="/art/visual_inspection/size" value="0.2,0.1"/>

    <!-- TODO fix "Machine [localhost] already added and does not match duplicate entry" issue -->
    <include file="$(find art_setup_1)/launch/nuc.xml">
      <arg name="machine_name" value="n1"/>
      <arg name="address" value="artable-n1"/>
    </include>

    <include file="$(find art_setup_1)/launch/nuc.xml">
      <arg name="machine_name" value="n2"/>
      <arg name="address" value="artable-n2"/>
    </include>

    <include file="$(find art_calibration)/launch/pr2_indiv.launch" />
    <include file="$(find art_calibration)/launch/art_calibration.launch">
      <arg name="cells" value="n1,n2,pr2"/>
      <arg name="x_offset" value="0.208"/>
      <arg name="y_offset" value="0.122"/>
      <arg name="z_offset" value="0.0"/>
    </include>

    <include file="$(find art_projected_gui)/launch/app.launch">
        <arg name="projectors" value="n2"/>
        <arg name="scene_server" value="192.168.104.200"/>
        <arg name="scene_size" value="1.5, 0.7"/>
        <arg name="scene_origin" value="0.0, 0.0"/>
    </include>

    <include file="$(find art_touch_driver)/launch/touch.launch">
        <arg name="calib_x_min" value="0.3"/>
        <arg name="calib_x_max" value="1.1"/>
        <arg name="calib_y_min" value="0.15"/>
        <arg name="calib_y_max" value="0.55"/>
    </include>

    <include file="$(find art_sound)/launch/node.launch">
        <arg name="machine" value="n1"/>
    </include>

    <include file="$(find art_collision_env)/launch/node.launch"/>

    <node name="static_tf_markern1" pkg="tf" type="static_transform_publisher" args="1.29 0.122 0 0 0 0 /marker /marker_n1 100" />

</launch>